
body{
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    font-size: 15px;
}


@media only screen and (min-width: 1440px) {
    body {
        width: 1440px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 375px) {
    body {
        width: 100%;
    }
}

.card{
    width: 300px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
}

.card .content {
    width: 288px;
    margin: auto;
}

.card p:first-child {
    font-size: 22px;
    font-weight: 700px;
    color: hsl(218, 44%, 22%);
    text-align: center;
}


.card p:last-child {
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding: 0px 12px;
}
.card img{
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 0px auto;
}